PyPdf2
langchain
langchain_community
langchain_huggingface
sentence-transformers
streamlit
nltk
faiss-cpu
langchain-text-splitters
python-dotenv
ultralytics 
matplotlib 
numpy
langchain_groq
opencv-python
-e . 